[2017-08-25 17:18] williamrjribeiro opened #23 "No automated tests"
There are so many benefits for having automated tests (unit, integration, acceptance) that's almost unacceptable not having them in any software project. ☹️

I'm willing to contribute for setting it up and writing some unit tests

Do you guys have anything in mind regarding this topic? 💭
Cheers!

[2017-08-25 17:19] williamrjribeiro commented on #23
Forget what I said. I totally missed that beautiful `__tests__ ` folder. 🙇

[2017-08-25 17:19] #23 closed

[2017-08-30 05:37] mkorpela opened #24 "Seems that this needs new"
https://github.com/uport-project/uport-js/blob/f1b703dec3511668bafb2216c479a32cb5f374cf/src/Credentials.js#L91

new Date()
OR
Date.now()

[2017-08-30 12:17] oed commented on #24
Thanks for pointing this out, will have a fix out shortly.

[2017-09-19 02:56] #24 closed

[2017-10-16 19:26] mi-xu opened #39 "uport.JWT is undefined when importing with require"
[code]

[2017-10-16 21:32] mi-xu opened #40 "verifyJWT is broken"
`UportLite.get` expects a callback as the second param, which it passes through to [`fetchIpfs`](https://github.com/uport-project/uport-lite/blob/23ed3bcc20be860328e40277f94c3d2cd43af392/src/index.js#L195).  However, `verifyJWT` [treats it as a promise](https://github.com/uport-project/uport-js/blob/ef4579c50ccfd0b41a938025c08e6a874783d0a9/src/JWT.js#L70) and only passes in a single issuer param,

[2017-10-29 12:19] mmalmi opened #44 "connect.showRequest is not a function"
Readme instructs:
"In your front end use uport-connect to present it to your user either as a QR code or as a uport-button depending on whether they are on a desktop or mobile browser.

const connect = new uportconnect.Connect('app name')
connect.showRequest(requestToken).then(response => {
  // send response back to server
})"

Using the latest uport-connect from unpkg, I'm getting "connect.showR

[2017-11-17 11:15] renne opened #46 "Add HowTo for Apache HTTP-server"
Please add an [Apache HTTP-server](https://httpd.apache.org/) login-HowTo with example code as a showcase.

[2017-11-18 12:42] oed commented on #46
I'm not sure what you are asking. Can you elaborate?

[2017-11-19 09:19] renne commented on #46
Apache HTTPd is the most-widely used web-server on the internet. Allowing internet users to authenticate on websites provided by Apache HTTPd with uPort would promote uPort a lot.

I suggest to provide a step-by-step guide for Apache HTTPd administrators how to to configure uPort-authentication for users. That guide should address professional and non-professional administrators.

[2017-11-20 10:30] oed commented on #46
Sounds cool. You could make it so that all uports which have a specific attestation will be granted access.
I don't think this is a priority right now, but contributions are wellcome ;)

[2017-12-20 16:27] MichalW commented on #44
@mmalmi Have you solved the problem? What I should use instead of `connect.showRequest`?

[2018-01-04 15:58] MichalW commented on #44
@mmalmi I have managed this:
try this:
[code]

[2018-01-23 23:15] vleipnik-consensys commented on #44
@mmalmi thank you for your solution, this unblocked me as well. However what I'm seeing now is that QR code comes up, I allow it on my mobile phone, but then it neither resolves nor rejects the request promise, and the QR code remains up on the web app. Did you run into this by any chance?

[2018-01-24 15:18] MichalW commented on #44
You should get "response", after allow on uPort application.
You can first try out how it works in this example: https://github.com/uport-project/uport-js/blob/develop/tutorial/requestcredential.js

[2018-01-27 09:56] bgrieder opened #49 "Unable to display attestation on mobile - doc inconsistent"
We are trying to integrate uPort into Platform 6 for Ondiflo,  a JV between Amalto and Consensys (https://ondiflo.com)

Creating an attestation and displaying it on the mobile app, results in a blank page on the mobile app (android latest play store version - 1.5.297 Alpha).
This happens whether the attestation is pushed as a notification or scanned from a QRCode.

The documentation is inconsisten

[2018-01-27 11:49] bgrieder commented on #49
Also, could you please confirm that the Attestation URI to use is:

    me.uport:add?attestation=${attestation}

where `${attestation}` is the value returned by the `attest()` call

[2018-01-30 09:30] oed commented on #49
Hey @bgrieder, thanks for spotting the shortcommings in our documentation.

It should be MNID encoded. But the address that is being encoded should be prefixed with `0x`. For more info check the [uport spec](https://github.com/uport-project/specs/blob/develop/messages/verification.md)

Yes that's correct!

It looks like you are missing an 's' ([verification spec](https://github.com/uport-project/s

[2018-01-30 12:38] bgrieder commented on #49
Hi @oed

Is the `address` field of the profile returned by the `attest()` call MNID encoded ?

This is coming from the doc of the README of uport-js (https://github.com/uport-project/uport-js), paragraph "Attesting information about your users"

`credentials.push(pushToken, `me.uport:add?attestation=${attestationjwt}`, message).then(response => {
})`

[2018-01-31 12:18] bgrieder commented on #49
I finally managed to **display** the credential on mobile after scanning a QRCode... but after accepting it, nothing appears in validations not anywhere else.
What am I missing ?

-  I also noticed that the code sample of the doc [there](http://developer.uport.me/guides.html#calling-the-attest-method) calls the method `attestCredentials` when the code shows it is called `attest`

- via push, a mes

[2018-02-01 09:09] bgrieder commented on #49
@oed @zachferland please....

[2018-02-15 12:41] oed commented on #44
@MichalW @vleipnik-consensys I think the reason is that you don't provide any callback url for the mobile app to respond to. This code should work:
[code]

I also added the showRequest method in https://github.com/uport-project/uport-connect/pull/102

[2018-02-15 13:13] oed commented on #49
@bgrieder hey, sorry for the slow response.

Seems like the URI is missing a callback url. It needs to be something like:
[code]

See https://github.com/uport-project/uport-js/issues/44 and https://github.com/uport-project/uport-connect/pull/102

[2018-02-15 18:14] bgrieder commented on #49
OK. So I receive a callback with '{'status': 'ok'}' after the user 'attested' on his mobile but then,
 -  why does this not appear in 'Verfications' in the mobile ?
 -  why do I not get it on as part of the `verified` array when I request a Token again ?

[2018-02-22 10:55] oed commented on #49
That you don't get it to show up in 'Verifications' sounds like a bug in the uport app. Can you get verifications from demo.uport.me to show up in your uport app?

[2018-02-22 11:09] bgrieder commented on #49
@oed Yes I confirm that I see two (for a certificate and a name) showing when using uPort Demo.
Please note that I am not getting verifications on the server side either on my app.

[2018-02-22 11:21] bgrieder commented on #49
@oed Please find a Typescript snippet of the code used to display the attestation

            const attestation = await this.uport.attest(
                {
                    sub:   '0x' + entry.responseToken.address, // uport address of user
                    exp:   new Date().getTime() + 20 * 60 * 1000, // If your information is not permanent make sure to add an expires timestamp

[2018-03-01 09:49] oed commented on #49
There are some things you can try:
`Math.floor(new Date().getTime()/1000)` (it might not like decimals)
In:
`sub: '0x' + entry.responseToken.address`
the address should be an MNID so you shouldn't add `0x`. You can verify this by doing `MNID.isMNID(entry.responseToken.address)`

[2018-03-01 23:12] lazydino opened #53 "uport website down? Cannot register app..."
https://developer.uport.me/myapps.html is not working ...

[2018-03-01 23:15] Eseoghene commented on #53
Thank you for reporting this issue we will get back to you shortly

[2018-03-01 23:35] bdresser commented on #53
@lazydino it's working fine for me!

could you provide a little more info about what you're seeing? what browser are you using? if you're trying to log in, what app version and device are you on?

[2018-03-09 16:13] localredhead commented on #53
@lazydino Can you try running in incognito mode?

[2018-03-09 16:22] localredhead commented on #53
Can you try going to appmanager.uport.me and let us know if you are able to register an app?

[2018-03-09 17:40] lazydino commented on #53
I sign in with "Connect with uPort" option using uport mobile running in my galaxy s7 phone. I tried to create the app but I need to sign my app in phone? What do I do? I need to past my public-encryption key?

[2018-03-10 16:25] simeonemanuilov commented on #53
Same problem. I am not able to register new app, already send ticket with more details to support,  but still no reply.

[2018-03-16 08:00] bgrieder commented on #49
Thanks the combination of the two fixed it.

[2018-03-18 22:09] vongohren commented on #44
Did you guys get past this issue, cause I'm experiencing it now. And solutions on your side does not seem to work.

[2018-03-21 15:05] filips123 opened #55 "Feature Request - Add support for other languages"
Please make uPort avalible for other languages, like PHP, Python... This would be very useful, because many developers use other languages and they can't use uPort right now.
Also, add support for Native Application libraries.

[2018-03-21 15:10] Eseoghene commented on #55
Thank you for reporting this issue we will get back to you shortly

[2018-03-21 15:27] zachferland commented on #55
@filips123 yeah we agree! we are currently working on breaking apart many of our libraries into smaller modules. One part of this is to help increasing understanding of our or protocol parts and to increase code readability, we hope these could then serve as a reference for implementations in other languages. We encourage others to help us build out libraries in other languages based on that refer

[2018-03-21 16:22] bdresser commented on #53
@lazydino yes, the application identity you create through our app manager is linked to your personal uPort ID, so you'll need to sign from the mobile app to set up the app.

@simeonemanuilov could you provide some more details here on what you're seeing? device type, browser, details of the bug?

[2018-04-09 15:43] blinky3713 opened #57 "Cannot get request-credentials tutorial to work"
What is the current behavior?

The request-credentials tutorials are not working. I am proxying all http request from my iphone through my computer, and I can verify that by following the instructions with the latest version of the uport app, my phone does not attempt to hit the `POST /callback` endpoint after accepting

you can read a detailed conversation starting here https://gitter.im/uport-pr

[2018-04-09 15:47] Eseoghene commented on #57
Thank you for reporting this issue we will get back to you shortly

[2018-04-12 06:55] innovatielab commented on #40
This issue was supposed to be solved in uport-connect 0.7.1, but I experience problems again with line 106-108 in JWT.js
[code]

It looks like `payload.exp` is not refreshed and keeps a value from some previous session with uPort, in my case from the day before...

[2018-04-24 22:45] maroodb opened #59 "where to find my private key ?"
Hello World!
I can't find my app private key.

[2018-04-24 22:46] Eseoghene commented on #59
Thank you for reporting this issue we will get back to you shortly

[2018-05-23 02:07] localredhead commented on #46
Thank you for your feedback!  We are in the process of re-writing our tutorials and will take this into consideration.

[2018-05-23 02:08] #46 closed

[2018-06-01 16:46] #39 closed

[2018-06-01 16:55] localredhead commented on #44
We will be updating our libs soon to address some of this.  Please keep an eye out for https://github.com/uport-project/uport-connect/pull/129

[2018-06-01 16:55] #44 closed

[2018-06-01 16:57] localredhead commented on #55
We definitely plan this in the future.  Thank you for the suggestion.

[2018-06-01 16:57] #55 closed

[2018-06-01 17:00] localredhead commented on #53
We have not heard from you, so we are closing this.  If you still would like some help, please re-open it

[2018-06-01 17:00] #53 closed

[2018-06-01 17:01] localredhead commented on #57
Hi!  we've updated the tutorials!  please check out the `/examples` folder for an updated tutorial on requestCredentials.

[2018-06-01 17:01] #57 closed

[2018-06-01 17:04] localredhead commented on #40
Hi @innovatielab, this seems to bee a separate issue from the one that was reported.  If you are still experiencing this problem can you open a new issue?  (Be sure to double check your time settings, did they change around that time?)

@mi-xu closing this for now.

[2018-06-01 17:04] #40 closed

[2018-06-15 14:54] jrgleason opened #68 "Node w/ experimental modules not recognizing uPort modules"
## Current Behavior

Based on the documentation I should be able to import uport-js into a node project like this `import { Credentials, SimpleSigner } from 'uport'`. [link](https://github.com/uport-project/uport-js)

## What actually happens

[code]

## Steps to Reproduce

1. `npm init` (with defaults)
2. `npm install --save express uport`
3. Create the following under index.**mjs**
[code]
4. run

[2018-06-15 14:57] Eseoghene commented on #68
Thank you for reporting this issue we will get back to you shortly

[2018-06-15 14:59] jrgleason commented on #68
My mitigation didn't work FYI

[code]

[2018-06-15 15:02] jrgleason commented on #68
Also

[code]
Prints

and printing the SimpleSigner returns undefined.

[2018-06-15 23:00] jrgleason commented on #68
I think the issue here is you are using babel for some things when you should be using Webpack.

For example, if you are using a browser with ES2017 built in why would you want to transpile down to ES2015? Now if a browser doesn't have a feature you need (say the 2019 spec) then it makes perfect sense to use Babel for that. However, when you are doing things like linting it should be done through

[2018-06-15 23:06] jrgleason commented on #68
BTW I am trying to prove it but I think the main fix is adding this to the index.js...

    export { Credentials, SimpleSigner, Contract, ContractFactory, JWT }

But I figure that is redundant and there has to be a better way.

[2018-06-16 00:42] KamesCG commented on #68
@jrgleason Thanks for reporting this! I will take a look at what might be causing this issue.

[2018-06-16 01:13] jrgleason commented on #68
Maybe thisish?

Object.defineProperty (exports, "__esModule", {
   value: true
});
exports.default = MyDefaultExportedClass;

https://stackoverflow.com/questions/43859231/babel-js-using-import-and-export-not-working

[2018-06-19 15:29] localredhead commented on #68
Sorry @jrgleason but we are not able to support using the `--experimental-modules` flag at this time.

[2018-06-19 15:29] #68 closed

[2018-07-06 21:26] pelle opened #70 "As a developer with existing users I want to support new EthrDID identities without changing my code"
This has to be fully backwards compatible for most users. Do not add support for `EthrDID` app identities. New developers should use the breaking changes of the libraries.

- [x] Start from `develop`
- [x] Only support MNID app identities
- [x] Exactly the same configuration parameters as existing version of libraries
- [x] Backport configuration from`did` branch
- [x] Backport `requestDisclosure(

[2018-07-06 21:29] Eseoghene commented on #70
Thank you for reporting this issue we will get back to you shortly

[2018-07-06 21:33] pelle commented on #70
I don't think it is necessary to use transports library. Continue to use the existing push function.

[2018-07-06 21:45] pelle opened #71 "Create new npm package name uport-credentials"
We should also change the repo name, but can wait to do that until later.

[2018-07-06 21:45] Eseoghene commented on #71
Thank you for reporting this issue we will get back to you shortly

[2018-07-11 02:20] yungtiec commented on #57
I'm experiencing the same issue. I used the requestcrendentials code in the example folder and replaced the private key and address with mine. I never received the POST request at the /callback endpoint after I authorized the request in the uport app.

[2018-07-18 12:39] #59 closed

[2018-07-19 13:49] subhasisbanik opened #76 "Unable to push notifications to Android device"
I am trying to push notification to user with:
https://github.com/uport-project/uport-js/blob/develop/docs/reference/index.md#credentialspushtoken-payload-pubenckey--promiseobject-error
I have added payload object with url and message(a simple string) and public Enc Key received by the user.
 I am getting warning from the server :
"WARNING: Calling push without a public encryption key is deprecate

[2018-07-19 13:52] Eseoghene commented on #76
Thank you for reporting this issue we will get back to you shortly

[2018-07-30 20:10] canadaduane opened #83 "Links to further documentation in README are broken"
Clicking any of the links in the `What is uPort Identity?` section of the README leads to 404s:

[code]

It looks like it's anticipating directories such as `develop/messages` and `develop/flow` to exist, with markdown doc files within. These files seem to be absent, however, when casually browsing via the github web interface.

[2018-07-30 20:13] Eseoghene commented on #83
Thank you for reporting this issue we will get back to you shortly

[2018-08-08 03:12] pelle opened #88 "Use ethr-did-resolver 0.1.1"
This should be done for the minor release and also for the major release

[2018-08-08 03:13] Eseoghene commented on #88
Thank you for reporting this issue we will get back to you shortly

[2018-08-15 19:54] localredhead commented on #83
Links updated

[2018-08-15 19:54] #83 closed

[2018-08-15 21:37] canadaduane commented on #83
Excellent, thanks!

[2018-08-17 16:49] #88 closed

[2018-08-20 02:17] pelle opened #91 "Update uPort Credentials to use new DID methods"

[2018-08-20 02:26] pelle opened #92 "Add support for SignedTypedData request"

[2018-08-20 02:30] Eseoghene commented on #92
Thank you for reporting this issue we will get back to you shortly

[2018-08-22 05:40] cmditch commented on #76
The documentation has the argument order flipped, and other tutorials I have seen around now seem to be outdated.

The code is the point of truth as it stands: https://github.com/uport-project/uport-js/blob/develop/src/Credentials.js#L239

I'm also having trouble with push notifications. I get them showing up on my phone (iPhone), but the uPort mobile app displays them as a blank white screen and

[2018-08-24 09:42] pelle opened #93 "Rename methods per user feedback in main PR"

[2018-08-24 09:46] Eseoghene commented on #93
Thank you for reporting this issue we will get back to you shortly

[2018-08-28 19:28] RyRy79261 opened #96 "As a developer, I would like documentation that would allow functional communication between a uport.js server & uport-connect client"
# Current Behavior
Following the documentation for uport.js to uport-connect client instance includes a function which does not exist in uport-connect package

# Expected Behavior
Documentation for a prominent identity system to be maintained effectively in line with ecosystem for further adoption

# Failure Information (for bugs)
[code]

[2018-08-28 19:30] RyRy79261 commented on #96
https://github.com/uport-project/uport-js/pull/94

Work is being done on the documentation however this is being ignored

[2018-08-28 19:31] Eseoghene commented on #96
Thank you for reporting this issue we will get back to you shortly

[2018-08-28 23:08] localredhead commented on #96
Hi @RyRy79261 ,

I'm sorry for your frustration.  It appears we intended to release this functionality and we forgot to redact it when we decided to hold off releasing that feature.

Thank you for pointing this out.  We'll remedy this ASAP.

[2018-08-29 07:00] RyRy79261 commented on #96
Hi @localredhead

Thanks for the reply, however I've looked through several PR's and looked through the history of a couple files and this issue has been prevalent for a while now.

What alternative is available?

[2018-08-29 18:37] localredhead commented on #96
The reference to the missing connect method was redacted in #94

We have a similar concept with uport-connect in our next major release for DID support.   https://github.com/uport-project/uport-connect/blob/did-major/src/Connect.js#L199  you'll note that Connect's send() calls the appropriate transport method.

FYI: The reference doc for send:  https://github.com/uport-project/uport-connect/blob/d

[2018-08-29 18:37] #96 closed

[2018-08-30 08:44] RyRy79261 opened #97 "As a user, I would like validation on attestations being sent to my uPort app to prevent permanant crashing"
Prerequisites

# Current Behavior
Attestations pushed to user device crashes the app when received, attestation is being fetched from uPort push service on opening the app

Pushing an attestation where the uri doesn't have a callback renders a blank attestation view with a permanent, inaccessible notification.

# Expected Behavior
Attestation to display if valid and allow user to accept or decline

[2018-08-30 08:48] Eseoghene commented on #97
Thank you for reporting this issue we will get back to you shortly

[2018-08-30 11:29] RyRy79261 commented on #97
Additional info;
The app crashes if theres any issues with the callback url for attestations, error handling on the attestation parsing could resolve this

[2018-08-30 14:32] localredhead commented on #97
@RyRy79261 Thank you for the detailed report - we are investigating now.

[2018-09-08 13:45] martingronlund commented on #44
@localredhead what should one do currently?

[2018-09-13 16:28] zachferland opened #106 "Npm command build:docs:md fails on did branch"
MD docs can not be create on did branch at this time.

[2018-09-13 16:29] Eseoghene commented on #106
Thank you for reporting this issue we will get back to you shortly

[2018-09-17 21:09] #93 closed

[2018-09-17 21:10] #71 closed

[2018-09-17 23:23] pelle opened #107 "Write Product Overview page for uPort Credentials"
We need an overview page which should live in docs/index.md see @localredhead for more details.

First version should include:

## uPort Credentials
### Request and Create Verified Data for your Users

- Create and Verify Authentication Requests with users
- Request Verified Data about a user
- Verify Data about a User
- Sign Transactions for Ethereum requests

Mention that this is used primarily

[2018-09-19 22:15] shanshokr commented on #107
Working on it here:
https://docs.google.com/document/d/1FUoLN-5CxiKhXUmfik73zhaRYCfIjRWwTqn_FeEGbpk/edit#

[2018-09-21 11:50] simonas-notcat opened #109 "Add vc attribute to request JWTs"
According to specs, `verReq` and `shareReq` should support `vc` attribute.

https://github.com/uport-project/specs/blob/develop/messages/verificationreq.md
https://github.com/uport-project/specs/blob/develop/messages/sharereq.md

[2018-09-21 11:53] Eseoghene commented on #109
Thank you for reporting this issue we will get back to you shortly

[2018-10-12 13:00] rmw2 commented on #109
fixed in #118

[2018-10-12 13:00] #109 closed

[2018-10-12 13:04] rmw2 commented on #70
Delivered in v0.7.0

[2018-10-12 13:04] #70 closed

[2018-10-12 13:05] rmw2 commented on #92
added in #102

[2018-10-12 13:05] #92 closed

[2018-10-12 13:06] rmw2 commented on #106
did branch is merged and docs seem to be working on `develop`

[2018-10-12 13:06] #106 closed

[2018-10-12 13:07] rmw2 commented on #91
@pelle @mi-xu is this resolved / what was this referring to ?

[2018-11-08 11:24] lukigno95 opened #133 "examples->createcredential.js needs dependency? Can't run it without any node version"
# Current Behavior
Can't execute it, it doesn't give the page link and gives an error

# Expected Behavior
Run it and get the webpage link

# Failure Information (for bugs)
`node1@node1-VirtualBox:~/myTESTS/uportCredentialsTest/uport-credentials/examples$ node createcredential.js
(node:17494) UnhandledPromiseRejectionWarning: panic: runtime error: invalid memory address or nil pointer dereference

[2018-11-09 08:09] lukigno95 commented on #133
FIXED installing ngrok in the uport-credentials directory
`npm i ngrok`

[2018-11-09 08:09] #133 closed

[2018-11-09 09:51] lukigno95 opened #134 "examples -> createcredential.js error when scanning the code with the uPort app"
# Current Behavior
Gives an error in the terminal.

# Expected Behavior
Shows in the terminal: Credential verified.

## Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Run createcredential.js in the example folder
2. Open the provided link
3. Scan with the android app the qr code showed in the browser

## Failure Logs/Screenshots
[code]

[2018-11-09 09:55] Eseoghene commented on #134
Thank you for reporting this issue we will get back to you shortly

[2018-11-09 10:57] lukigno95 commented on #134
Found the problem. I had to click con the mobile link...
But I don't understand what was for the first qr showed, I mean if it wasn't for the mobile client for which client it was expected?

[2018-11-14 18:35] mi-xu opened #135 "verifyDisclosure fails completely when there are multiple claims even if a single claim fails"
**Steps to reproduce:**
- uPort mobile app holds multiple credentials with the same key (ex: nickname: 'bob', nickname: 'rob')
- App requests disclosure of credentials with key of 'nickname'
- User approve disclosure in their mobile app
- App attempts to process response by calling `credentials.verifyDisclosure()`
- If one of the claims fails verification for any reason (expired, wrong audience, m

[2018-11-14 18:40] Eseoghene commented on #135
Thank you for reporting this issue we will get back to you shortly

[2018-11-15 00:07] #134 closed

[2018-11-28 06:04] sandramarianegeorge opened #143 "Uport credentials with private chain"
Use uport-credentials to issue private chain based credentials to support private chain provisioning flow

[2018-11-28 14:39] rmw2 commented on #143
Hi @sandramarianegeorge --

A credential in the verifiable claims sense is not associated with a particular chain, but with a DID (i.e., an identity).  The DID method that we are currently supporting is called `EthrDID`, and also is chain-agnostic, in that it only requires a keypair, and no on-chain transactions.  We do use a version of the ethr-did-registry contract deployed on mainnet to handle

[2018-11-28 14:39] #143 closed

[2018-11-28 15:24] miljantekic opened #145 "createIdentity() - Buffer is not defined"
Prerequisites

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

# Failure Information (for bugs)

Calling `Credentials.createIdentity()` in an environment that doesn't have `Buffer` throws an error due to `Buffer` not being defined in the `did-jwt` package.

`uport-credentials` uses

[2018-11-28 15:34] miljantekic commented on #145
I temporarily fixed this by using the `resolutions` property in `package.json` from yarn and rerunning `yarn install`.

**Temporary fix**

[code]

[2018-11-28 15:42] rmw2 commented on #145
Hey @miljantekic -- thanks for the catch.  We  should be using the latest version of `did-jwt` -- I will try to get this fix out ASAP

[2018-11-28 15:57] #135 closed

[2018-11-29 08:41] sandramarianegeorge commented on #143
Hi,
So can you update uport-credentials library to include the private provisioning method ?

[2018-11-29 11:32] miljantekic commented on #145
@rmw2 Np, thanks for the quick reply :)

[2018-12-05 13:43] sandramarianegeorge opened #147 "ethjs-provider-http error"
Hi,
I am getting the following error in my Uport mobile app :
new Error('[ethjs-provider-http] the HttpProvider instance requires that the host be specified (e.g. `new HttpProvider("http://localhost:8545")` or via service like infura `new HttpProvider("http://ropsten.infura.io")`)'

Can you suggest a fix for this?

[2018-12-17 14:34] z3us94 opened #151 "JWT is not valid yet (issued in the future)"
verifyDisclosure() method throws me this error "JWT is not valid yet (issued in the future)", when a token comes from a device where the time is ahead of the server time. Is there a workaround for this?

[2018-12-17 14:43] rmw2 commented on #151
hi @z3us94 -- This happens when the skew between the clock of your mobile device and the machine verifying the signature is larger than the `IAT_SKEW` constant defined in the `did-jwt` dependency.  This was changed from 60s to 5minutes within the last few months -- fixes include ensuring  your packages are up to date to use the larger skew tolerance, and if the problem persists, fixing the clock s

[2018-12-18 05:52] z3us94 commented on #151
Hey, @rmw2  thank you for the quick response. Yeah, I tried updating the version and setting the time zone directly of my devices instead of manipulating time. So I guess it's not working when we manipulate the time of the device without changing the correct timezone which is okay since that is not a correct scenario.

[2018-12-19 12:19] vongohren commented on #151
@rmw2 so from a user experience point of view, you suggest that we shall be able to return a message to the user that their time might be a bit skewed?
Im just trying to figure out how to convey the message to the user, because we as developers understand and dont care, but users care :D

[2018-12-19 12:44] rmw2 commented on #151
Great point @vongohren -- as it stands now there's no way on the mobile app to catch a situation in which it fails to verify a JWT with a future timestamp.  I'm not sure how quickly we can implement a new UX for this situation, but my guess as to the best way to mitigate it would be to warn users about the possibility of clocks being out of sync, and/or set a timeout on a request to prompt them wi

[2018-12-19 16:33] z3us94 commented on #151
@vongohren yeah the above error throws from the JWT decoder that the verifyDisclosure() method make use of. So yeah we could have a catch and give the user a proper message since we are now sure of what is the cause of this.

[2018-12-19 16:50] vongohren commented on #151
Perfect shehan, then we can look into that at a later date, but the task
tracks this issue so we will see it at some point.

On Wed, Dec 19, 2018 at 5:33 PM z3us94 <notifications@github.com> wrote:

[2019-02-10 14:58] filips123 commented on #55
@localredhead @zachferland Is there any update? If not, this issue should be reopened or transfered to right repository to make attantion.

[2019-02-10 18:56] localredhead commented on #55
@filips123 no update yet - but this is still on our radar.

[2019-02-11 10:50] mirceanis commented on #55
@filips123 python and PHP is not yet available but native application support for Android and iOS is in development.

Check out
https://github.com/uport-project/uport-android-sdk
and
https://github.com/uport-project/uport-ios-sdk

A lot of other tooling had to be built before we could tackle the functionality of uport-credentials as a native library. This is only now being added to those SDKs.

[2019-02-11 12:03] aijdissanayake commented on #147
@sandramarianegeorge  any luck?

[2019-03-18 17:01] only1sham commented on #147
Anyone from uPort looking into this issue? Even I'm getting this error. Any suggestion would be really appreciated.

[2019-04-26 10:44] malithrw opened #169 "Missing declarations for did-jwt"
**Describe the bug**
The 1.2.0 version fails typescript compile due to missing types declaration for `did-jwt` module.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `uport-credentials@1.2.0` and import
2. Compile typescript project

**Expected behavior**
Necessary declarations to be a dependency of `uport-credentials` module.

[2019-04-29 17:05] only1sham opened #171 "Urgent: Track whether the uPort user accepted or rejected a claim"
We have a Node.js application where a Verified Claim is created and issued to a uPort user. However, we are unable to find out how to track whether a user accepted or rejected the claim. Can someone please provide a code sample for this? This is needed urgently to complete our POC using uPort.

[2019-04-30 18:49] localredhead commented on #171
Hi @only1sham - Thank you for this request.  We will be working to prioritize this.  Unfortunately it will not be possible to implement this quickly in the time-frame that I sense you need it.

I know it's not the answer you were hoping for, but we will implement this.

In the short term have a look at uportlandia.uport.me and you will see that we are constrained in a similar manner.  We want this

[2019-05-02 05:26] nikunjsmartsense opened #172 "createVerification callback getting before scan QR code and accept the request from mobile application"
I am integrating "create verified identity" with my application here when i am creating QR code from attestation as explained here https://developer.uport.me/credentials/createverification and then in credentials.createVerification I have added one callback url but i am getting callback response even before i scan the QR code from mobile app and accept the request.

[2019-05-06 08:48] leoslr commented on #147
Hello, I have the same problem, does anyone have a solution ?

[2019-05-11 15:05] drbh opened #173 "Issues receiving credentials"
**Describe the bug**
I cannot get my "diploma" at https://uportlandia.uport.me/university

I see the following errors in my console.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Request a diploma credential

[2019-05-11 15:14] schowdhuri commented on #173
@drbh I am unable to reproduce this error (I am on MacOS, Chrome 73). It could be a transient network issue. Can you please try again, preferably in an incognito browser window?

[2019-05-11 15:25] drbh commented on #173
Huh interesting - just tried again in FireFox and it worked no problem! I was not in an in an incognito browser window btw.

Issue on:
[code]

No problem on:
[code]

Thanks for the response

[2019-05-11 15:29] schowdhuri commented on #173
Good to know! It does appear to be a network issue. Private browsing/incognito window rules out browser extensions and cache. Please feel free to reach out if you continue to face this issue.

[2019-05-14 14:56] jasonhealy commented on #147
Thanks you for reporting.  Can you provide full steps taken to reproduce the issue?

[2019-05-14 15:49] leoslr commented on #147
Hello Jason,

First of all thank you for taking the time to helping us.

For me, this error occured while doing the following :

I'm following the uPort tutorial "signing transaction example" from the uport website.
[https://developer.uport.me/credentials/transactions](url)
It works well.

Then I tried to do the same but calling a smart contract function instead of just transfering ethereum.
In or

[2019-05-15 10:51] ajunge commented on #147
Hi @leoslr. I think you need to un-quote the 2. Since it it's a uint256.

[2019-05-15 11:09] leoslr commented on #147
Hello @ajunge thank you for your answer.
I already tried doing this but it didn't work.

[2019-05-16 19:19] mirceanis commented on #173
I'm closing this. seems to have been a temporary connectivity issue

[2019-05-16 19:19] #173 closed

[2019-05-20 18:03] rogargon commented on #143
Please, I would also appreciate a small code sample showing the recommended way to get a keypair and use it on a private Ethereum network.

[2019-06-04 11:22] simonas-notcat commented on #147
@sandramarianegeorge @leoslr the problem here is that you are not specifying network id in the request message. There are two ways of doing that:

[code]

or using MNID

[code]

We need to have better error handling in the app, so that we do not confuse developers.

[2019-06-04 11:22] #147 closed

[2019-06-06 01:52] mi-xu commented on #169
Hi @malithrw: can you try using version [1.2.2-alpha.0](https://www.npmjs.com/package/uport-credentials/v/1.2.2-alpha.0) to see if that fixes the issue for you?

[2019-06-18 03:15] justinmchase opened #176 "The way you're exporting messes up typescript type resolution for callers"
**Describe the bug**
Here in your index.ts file:
https://github.com/uport-project/uport-credentials/blob/develop/src/index.ts#L8

You are mapping your classes to const's then exporting those. This essentially messes up TypeScripts type inference and treats them as values rather than types.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i uport-credentials`
2. create index.ts and add th

[2019-06-21 17:19] filips123 commented on #55
Why was repository for [WordPress plugin](https://github.com/uport-project/uport-wordpress-plugin) archived? Will it not be supported?

[2019-06-21 17:21] localredhead commented on #55
Not by us for the foreseeable future.

[2019-06-28 06:32] damon-leong opened #177 "keep track the callback from authenticateDisclosureResponse"
we have nodejs application with uport credential, after the callback and
authenticateDisclosureResponse has done, how do we send back the response to our frontend application?

uport connect can immediately detect the callback on mobile with uport.onResponse('disclosureReq'). How uport credential can do this?

Could you share the sample code?

[2019-06-28 14:55] mirceanis commented on #177
Hi @damon-leong,
As opposed to `uport-connect`, `uport-credentials` does not try to make assumptions about where it is being used (browser, react-native app, nodejs app, aws lambda, firebase function... etc). For that reason, it is up to the developer using it to create their own methods of responding to the requests that were created by the library.

[2019-07-09 16:32] Namenox opened #178 "Selective disclosure of a claim in a credential without atomic credentials"
If I have a credential stating claims A and B, and a signature S of Issuer verifying the validity of this credential, is it possible to present claim A without revealing the whole credential (and therefor, B)?

How ?

[2019-07-09 21:14] mirceanis commented on #178
Unfortunately it's not possible to verify only one claim in a credential.
The signature is only valid for the whole.
The recommended approach is to have the issuer issue individual credentials for each claim.

[2019-07-10 07:31] oed commented on #178
It's definitely possible! If you put the claim that is being signed as a merkle tree instead of the data itself, then you can present just the merkleproof of the data that you want to disclose. It does however require some extra functionality for storing and disclosing the merklized data.

[2019-07-10 08:22] mirceanis commented on #178
That's a very interesting approach @oed.

It still requires changes on the issuing side, though.
The recommended approach is simpler and the only required change is that the same system be used to issue credentials, only multiple times.

Are you aware of any implementation that is using the merkle tree approach?

[2019-07-10 08:35] oed commented on #178
Iden3 are using an approach similar to this to do their zkproofs on credentials :)

[2019-07-10 08:48] Namenox commented on #178
What came to my mind was having each attribute encrypted with a different
one time key, such that in order to reveal attribute A, you would present
the credential along with the key of A.  Effectively,  it would end up in a
key management problem,  but compared to the atomic approach the difference
Is that we have to store n keys instead of n credentials,  while having the
issuer issuing only 1 cr

[2019-07-10 13:25] mirceanis commented on #178
@Namenox Yes, that sounds like a reasonable solution as well for your use case, and would also work with the existing library.
The downside is that the credentials are not reusable with other parties unless they also adopt the decryption scheme along with verification.

[2019-07-10 13:29] Namenox commented on #178
By mistake I said "one time locks",  where in fact it would just be
symetric keys. These keys would be sent together with the credential,
therefor if i'm not missing anything,  the credential would still be
reusable

El mié., 10 jul. 2019 15:25, Mircea Nistor <notifications@github.com>
escribió:

[2019-07-10 13:54] mirceanis commented on #178
Yes, I meant reusable in the broadest sense, by any party that gets it.
With the key transmitted along with the credential it would be reusable by any party that implements the decryption, but not by any client in the uPort ecosystem (for example, the uPort mobile app does not send decryption keys along with credentials).
Also note that transmitting symmetric keys may have undesired consequences.

[2019-07-27 10:52] Namenox opened #183 "Image inside credential"
I'm developing a use case in which the user gets his ID from the government, like in Uportlandia's demo (where the image is not set on any credential btw)

At the entrance of some event, I want to present my digital ID. However, I could have given my mobile phone to a friend, so it is necessary that the image is somehow on the credential.

Supposing I would use IPFS for the storage of the picture

[2019-07-27 15:44] Namenox commented on #183
Im developing a use case in which the user gets his ID from the goverment, like in the demo.
At the entrance of some event, I want to present my digital ID. However, I could have given my mobile phone to a friend, so it is necesary that the image is somehow on the credential.

Supposing I would use IPFS for the storage of the picture (which would make it public and therefor affect my privacy), in

[2019-07-28 00:01] mirceanis commented on #183
There isn't any standardized protocol defined for this scenario.
In all cases, some effort is made on the verifier side as well.

Any credential has a signature that also needs to be checked. Some software that is under the control of the verifier does this signature check (most likely using this library or the underlying `did-jwt`). This same software can be tasked with downloading the picture fr

[2019-07-28 00:12] Namenox commented on #183
Yes, indeed the server would have to download the image, the problem (now
generalising) of adding references in the form of location based links Is
that it may turn the credential itself useless in the case of a broken
link, so I asume IPFS should be the general pattern.

However, the problem still remains for the uploader, as he would have to be
running a daemon for the files to be accessible, or

[2019-09-19 02:20] justinmchase commented on #183
You can easily just get it from IPFS from the phone. You'd have to host an IPFS network and then there are light clients that can connect to it, depending on your language. Though if you're here using uport you might want to consider using Swarm.

[2019-09-19 07:04] #176 closed

[2019-09-19 07:05] mirceanis commented on #91
Closing for lack of activity

[2019-09-19 07:05] #91 closed

[2019-09-19 07:08] mirceanis commented on #76
Looks like the messages arrive but the app is unable to react properly.
Is this still an issue?

[2019-09-19 07:15] mirceanis commented on #169
Closing this for inactivity.
Please reopen or post another issue if that is the case.

[2019-09-19 07:15] #169 closed

[2019-09-19 07:22] mirceanis commented on #151
Is this still an issue?
If so, there is a workaround you can try which is to not have an issuance date at all in the JWT.
You should be able to do it by setting `iat : undefined` in the payload you send to `signJWT`

[2019-09-20 10:24] vongohren commented on #151
@mirceanis thanks for the feedback. It is not something we continued to experience in our setup, but I believe it was not an effort to fix it on either side. So this workaround is something I will note for future reference. But unless you guys think to track this to fix it, you can close it

[2019-09-20 14:55] mirceanis commented on #151
There isn't any plan to fix it since dealing with clock sync between devices is out of scope for this lib.
The same override with `iat` can be used for setting a precomputed issuance date in case such a scenario comes up.

Thanks, closing this now.

[2019-09-20 14:55] #151 closed

[2019-10-08 08:22] #145 closed

[2019-10-08 08:26] mirceanis commented on #178
I'm closing this for lack of activity.
Please reopen if there still are questions to be answered here.

[2019-10-08 08:26] #178 closed

[2019-10-08 08:28] mirceanis commented on #183
I'm closing this for lack of activity.
Please reopen if there still are questions to be answered here.

[2019-10-08 08:28] #183 closed

[2019-10-08 08:32] mirceanis commented on #171
This is a behavioral issue of the uport-mobile app, however it has been lingering for a long time so I'm closing it.
If this is still a necessary feature, please reopen.

[2019-10-08 08:32] #171 closed

[2019-10-08 08:32] mirceanis commented on #177
closing this for lack of activity.

[2019-10-08 08:32] #177 closed

[2019-10-08 08:57] mirceanis opened #188 "install stale-bot to cleanup old issues automatically"
create `.github/stale.yml` in the default branch to enable it:

[code]

[2019-10-08 20:15] #188 closed

[2019-10-16 08:37] #172 closed

[2019-10-26 07:34] #76 closed

[2019-11-06 04:10] tatianae-trulia opened #190 "Invalid Credentials Object Causes QR Code To Fail Silently"
**Describe the bug**
When a UPort user scans the service's QR code, the mobile card view to represent the requested user data and option to accept/decline doesn't show, and therefore no /callback URL is called. Instead, the QR code disappears and the user is shown their normal Credentials app view.

We were able to debug this by switching out the credentials to the example credentials object from

[2019-11-06 04:11] #190 closed

[2019-11-06 04:12] tatianajiselle opened #191 "Invalid Credentials Object Causes QR Code To Fail Silently"
**Describe the bug**
When a UPort user scans the service's QR code, the mobile card view to represent the requested user data and option to accept/decline doesn't show, and therefore no /callback URL is called. Instead, the QR code disappears and the user is shown their normal Credentials app view.

We were able to debug this by switching out the credentials to the example credentials object from

[2019-11-14 10:08] #107 closed

[2019-11-18 10:38] mirceanis commented on #191
You are right that there can be mismatches between issuers and signers but so far we haven't found a good solution to address this.
Doing validation/verification at the time credentials are created would imply invoking a DID resolver, which would most likely make some calls to some endpoint or a blockchain node, where as the credential creation process at this time is intentionally offline.
Of cou

[2020-01-29 13:15] #191 closed

[2020-03-03 09:24] eduardosanzb opened #194 "EthrDIDResolver requires a provider configuration for at least one network"
**Describe the bug**
Following the demo, cannot instantiate a new Credentials object

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest `uport-credentials`
2. Create new indentity or use existent one.
3. Try to instantiate a `new Credentials`

Following the types I can see that the Networks object follow a structure. But I was unable to find an example.
[code]

**Expected beh

[2020-03-03 14:36] mirceanis commented on #194
@eduardosanzb Did you try [the configuration block mentioned in the readme](https://github.com/uport-project/uport-credentials#uport-credentials-library)?

What demo are you following specifically?
The change to the configuration requirements regarding ethr-did-resolver are probably not reflected in every doc piece that was published. It would be helpful if you linked to the demo code that you are

[2020-03-03 15:48] eduardosanzbBCG commented on #194
@mirceanis Thank you for the response,
Indeed we found the configuration [in the readme, as you mentioned](https://github.com/uport-project/uport-credentials#uport-credentials-library).

I tried to follow the demo from the following sources:

* [developer portal](https://developer.uport.me/uport-credentials/index#create-request-attested-data)
* And also an outdated one (potentially), the snippets

[2020-03-03 15:55] eduardosanzbBCG commented on #194
Do you guys have a chat rocket.chat/slack or similar?
Regards

[2020-03-13 13:56] mirceanis commented on #194
The preferred support channel is through [support.uport.me](https://support.uport.me/hc/en-us)
There is also a [community gitter chat](https://gitter.im/uport-project/Lobby) but we do not have the manpower to answer there very often during these times.

Please close this issue you managed to apply the suggested configuration.

[2020-03-23 13:16] mirceanis commented on #194
Closing this for lack of activity, please reopen if it is still an issue.

[2020-03-23 13:16] #194 closed

[2020-04-23 06:52] only1sham opened #196 "Sample code not working"
This code is not working due to the breaking changes in 'ethr-did-resolver' library. Please provide the working sample for creating and verifying disclosure request and credentials.

[2020-05-09 03:58] justinmchase commented on #196
I came here to report this also.

As of the version 1.3.0 update this no longer works:
https://github.com/uport-project/uport-credentials/blob/develop/docs/guides/index.md#configure-your-application

And the small example on the main readme is incomplete, for example the SimpleSinger is not imported so its hard to know where its supposed to be imported from.
https://github.com/uport-project/uport-

[2020-05-09 11:27] mirceanis commented on #196
@justinmchase, @only1sham, thank you for reporting this.
Please take a look at the updated sample code and see if that fixes it for you.

[2020-05-11 12:20] #196 closed

[2020-08-05 14:17] PeterTheOne opened #248 "Support issueing and requesting VCs"
**Is your feature request related to a problem? Please describe.**
I'd like to issue Verifiable Credentials starting from a `CredentialPayload` like in `did-jwt-vc` and I'd like to create a `DisclosureRequest` (and DisclosureResponse?) for a Verifiable Credential.

**Describe the solution you'd like**
Have some functions that create VCs and request VCs.

**Describe alternatives you've considered**

[2020-08-05 15:08] PeterTheOne commented on #248
It could be implemented similiar to the Jolocom example referred to in https://github.com/WebOfTrustInfo/rwot6-santabarbara/blob/master/final-documents/did-auth.md#jwt-format .

[2020-08-06 09:31] PeterTheOne commented on #248
Claims seem to be requestable with the `verified` array parameter.

[2020-08-06 13:51] PeterTheOne opened #250 "Why is iss in the disclosureRequest ClaimsSpec required?"
**Is your feature request related to a problem? Please describe.**
I'd like to create a DisclosureRequest with ClaimsSpec without specifying an issuer in the verifiable claim I want to request. In the typescript type it is mandatory. See also: https://developer.uport.me/messages/sharereq#verifiable-claims-spec . Also why is `user_info` mandatory?

**Describe the solution you'd like**
Let `iss` and

[2020-08-07 17:40] #250 closed

[2020-08-14 11:01] PeterTheOne commented on #248
This part should be fixed with https://github.com/uport-project/uport-credentials/pull/257 .

[2020-08-14 14:04] mirceanis commented on #248
@PeterTheOne, now that #257 is merged, what else is needed?

Can you give an example of the API you envision?

[2020-08-24 09:55] PeterTheOne commented on #248
https://github.com/decentralized-identity/papers/blob/master/Credential%20Exchange%20Message%20Formats%20Survey.md

[2020-11-02 00:06] #248 closed